# Videos (hosted on Google Drive)
data/**/*.mov
data/**/*.MOV
data/**/*.mp4
data/**/*.MP4

# media display
media/display/*.mp4
media/display/*.wav

# macOS
.DS_Store
data/**/.DS_Store

# Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
